---
layout: default
refactor: true
---

<style>
   a, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }
 
 .logo {
	border-radius: 0px;
    height: 60px;
    width: 180px;
	box-sizing: border-box;
	overflow-clip-margin: content-box;
    overflow: clip;
 }
</style>

<!--
<style>
   a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }
</style>
-->

<!--
<h1 id="logo"><a href="https://www.otago.ac.nz/"><img width="160" height="80" alt="University of Otago - Te Whare Wānanga o Otāgo" src="https://www.otago.ac.nz/_assets/_gfx/logo.png" srcset="https://www.otago.ac.nz/_assets/_gfx/logo@2x.png 2x" style="border:1px solid black;"></a></h1>
<a href="https://www.otago.ac.nz/"><img width="160px" height="80px" alt="University of Otago - Te Whare Wānanga o Otāgo" src="https://www.otago.ac.nz/_assets/_gfx/logo.png" srcset="https://www.otago.ac.nz/_assets/_gfx/logo@2x.png 2x" style="border:1px solid black;"></a>
<a href="https://www.otago.ac.nz/"><img width="160px" height="80px" alt="University of Otago - Te Whare Wānanga o Otāgo" src="https://www.otago.ac.nz/_assets/_gfx/logo.png" style="border:1px solid black;"></a>
<img width="160" height="80" alt="University of Otago - Te Whare Wānanga o Otāgo" src="https://www.otago.ac.nz/_assets/_gfx/logo.png" style="border:1px solid black;">
<img style='height: 160px; width: 80px' src="https://www.otago.ac.nz/__data/assets/file/0034/568366/UoO_Logo_RGB_Horz_Gold-REV.svg" alt="University of Otago - Te Whare Wānanga o Otāgo">
-->
<p>
</p>

<img class="logo" src="https://www.otago.ac.nz/__data/assets/file/0034/568366/UoO_Logo_RGB_Horz_Gold-REV.svg" alt="University of Otago - Te Whare Wānanga o Otāgo">

<p>
</p>
<p>
</p>

<p>



I'm Beam, a <a href="https://www.otago.ac.nz/accountancyfinance/staff/people/pakorn-beam-aschakulporn"><i>Lecturer in Finance</i></a> in the <a href="https://www.otago.ac.nz/accountancyfinance"><b>Department of Accountancy & Finance</b></a> at the <a href="https://www.otago.ac.nz/"><b>University of Otago</b></a>, <a href="https://www.dunedinnz.com/"><b>Dunedin</b></a>, <a href="https://www.newzealand.com/"><b>New Zealand</b></a>.

I recently <a href="https://hdl.handle.net/10523/13663">completed my PhD</a> in October 2022 under the supervision of <a href="https://www.otago.ac.nz/accountancyfinance/people/zhang"><b><u>Professor Jin E. Zhang</u></b></a>.
</p>
<p>
My research and teaching interest is primarily in the area of <i>Derivatives and Quantitative Finance</i>.
I'm the deputy director of the <a href="https://blogs.otago.ac.nz/dqfg/">Derivatives and Quantitative Finance Group (DQFG)</a> and have assisted in teaching 
<a href="https://www.otago.ac.nz/courses/papers/index.html?papercode=FINC102"><b>FINC102: Business Mathematics</b></a>,
<a href="https://www.otago.ac.nz/courses/papers/index.html?papercode=FINC306"><b>FINC306: Derivatives</b></a>, and
<a href="https://www.otago.ac.nz/courses/papers/index.html?papercode=FINC405"><b>FINC405: Mathematical Finance</b></a>.
I have also assisted in teaching <a href="https://www.otago.ac.nz/courses/papers/index.html?papercode=BSNS114"><b>BSNS114: Financial Decision Making</b></a>, and
<a href="https://www.otago.ac.nz/courses/papers/index.html?papercode=FINC204"><b>FINC204: Personal Finance</b></a>.
</p>


<!--
<p>
Before starting my PhD, I did a BSc, DipGrad, and MFinc at Otago.
</p>
<h1 id="logo"><a href="https://www.otago.ac.nz/"><img width="160" height="80" alt="University of Otago - Te Whare Wānanga o Otāgo" src="https://www.otago.ac.nz/_assets/_gfx/logo.png" srcset="https://www.otago.ac.nz/_assets/_gfx/logo@2x.png 2x" style="border:1px solid black;"></a></h1>
<h2><a href="https://www.otago.ac.nz/accountancyfinance/staff/postgraduate/index.html#:~:text=otago.ac.nz-,Beam%20Aschakulporn">Pakorn (Beam) Aschakulporn</a></h2>
Teaching Fellow/PhD Candidate in Finance</br>
</br>
<a href="https://www.otago.ac.nz/accountancyfinance/index.html">Department of Accountancy & Finance</a> </br>
<a href="https://www.otago.ac.nz/">University of Otago</a> </br>
<a href="https://www.dunedinnz.com/">Dunedin</a>, <a href="https://www.newzealand.com/">New Zealand</a> </br>
</br>
Email: <a href="mailto:Beam.Aschakulporn@otago.ac.nz">Beam.Aschakulporn@otago.ac.nz</a> </br>
Office: <a href="https://www.otago.ac.nz/business/index.html">OBS</a>5.01 </br>
</br>
Supervisor: <a href="https://www.otago.ac.nz/accountancyfinance/staff/zhang.html">Professor Jin E. Zhang</a>
-->
